<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Test Login 3</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div *ngIf="!uid" class="page">
    <ion-input placeholder="email" type="email" [(ngModel)]="email"></ion-input>
    <ion-input placeholder="password" type="password" [(ngModel)]="pwd"></ion-input>
    <ion-button expand="block" (click)="doLogin()">Login</ion-button>
  </div>

  <div class="page" *ngIf="uid">
    <h3>Signed in as {{email}}</h3>
    <ion-button expand="block" color="secondary" (click)="doLogout()">Logout</ion-button>
  </div>

</ion-content>
